<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
  <!-- FAVICON -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <title>گروه کاربران لینوکس مشهد | {{ page.title }}</title>
  <!-- Stylesheets -->
  <link href="{{ '/assets/css/bootstrap.min.css' | link }}" rel="stylesheet">
  <link href="{{ '/assets/css/bootstrap-rtl.min.css' | link }}" rel="stylesheet">
  <link href="{{ '/assets/css/font-awesome.css' | link }}" rel="stylesheet">
  <link href="{{ '/style.css' | link }}" rel="stylesheet">
  
  <!-- Javascript -->
  <script src="{{ '/assets/js/jquery.min.js' | link }}"></script>
  <script src="{{ '/assets/js/jquery.plugin.js' | link }}"></script>
  <script src="{{ '/assets/js/jquery.countdown-fa.js' | link }}"></script>
  <script src="{{ '/assets/js/jquery.countdown.min.js' | link }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | link }}"></script>
  <script src="{{ '/assets/js/jquery.timeago.js' | link }}"></script>
  <script src="{{ '/assets/js/jquery.timeago.fa.js' | link }}"></script>
  <!--<script src="{{ '/assets/js/TimeCircles.js' | link }}"></script>-->
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
