<!DOCTYPE html>
<html lang="en">
  {% include '__head.html' %}
  <body>
    <div class="cover {{ 'mini' if page.link != '/index.html' }}">
      <div class="container">
        <div class="row">
          <div class="logo">
            <img src="{{ '/assets/images/MashhadLUGtop.png' | link }}" alt="گروه کاربران لینوکس مشهد" />
          </div>
          <div class="slogan">
            <h1>گروه کاربران لینوکس مشهد</h1>
            <h2 class="hidden-xs">آزادی نرم‌افزار از اعتقادات ماست</h2>
          </div>
        </div>
      </div>
    </div>
    {% if page.link == '/index.html' %}
    <div class="welcome">
      <div class="container">
        <!--<div class="row">
          <div class=' text-center'>
          <h2>Responsive Quote Carousel BS3</h2>
          </div>
        </div>-->
        <div class='row'>
          <div class=''>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
              <!-- Bottom Carousel Indicators -->
              <!--
              <ol class="carousel-indicators">
                {% for quote in source.src_files('source/quotes/', true, true) %}
                <li data-target="#quote-carousel" data-slide-to="{{ loop.index - 1 }}" class="{{ 'active' if loop.index == 1 }}"></li>
                {% endfor %}
              </ol>
              -->
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner">
                {% for quote in source.src_files('source/quotes/', true, true) %}
                <div class="item {{'active' if loop.index==1 }}">
                  <blockquote>
                    <div class="row">
                      {% if quote.avatar %}
                      <div class="col-md-2 text-center hidden-xs hidden-sm">
                        <img class="img-circle img-responsive" src="{{ quote.avatar }}">
                      </div>
                      {% endif %}
                      <div class="col-md-10 {{ 'col-md-offset-1' if not quote.avatar }}">
                        {{ quote.content | markdown }}
                        <small>{{ quote.author }}</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                {% endfor %}
              </div>
              <!-- Carousel Buttons Next/Prev -->
              
              <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
              <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          //Set the carousel options
          $('#quote-carousel').carousel({
            pause: true,
            interval: 8000,
          });
        });
      </script>
      
      <!--
      <div class="container welcome">
        <div class="row">
          <div class="">
            <div class="well">
              
              
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  {% for slogan in source.src_files('source/slogans/', true, true) %}
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="{{'active' if loop.index==1 }}"></li>
                  {% endfor %}
                </ol>
                <div class="carousel-inner">
                  {% for slogan in source.src_files('source/slogans/', true, true) %}
                  <div class="item {{'active' if loop.index==1 }}">
                    <div class="new_html_code" style="width:150px; height:100px; min-width:150px; min-height:100px; max-width:200px; max-height:100px; overflow:hidden; display:block; border:1px solid red;"></div>
                    <div class="carousel-caption">
                      {{ slogan.content | markdown }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>-->
    </div>
    {% endif %}
    <div class="">
      <div class="container">
        <div class="row">
          {% include '__navbar.html' %}
        </div>
        <div class="row">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% include '__footer.html' %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('.timer').timeago()
        $('.event-timer').each(function(){
          var due_date_attr = $(this).attr('data-time')
          var due_date_timestamp = Date.parse(due_date_attr)
          var due_date = new Date(due_date_timestamp)
          console.log(due_date_attr, due_date_timestamp, due_date)
          $(this).countdown({
            until: due_date,
            layout: $(this).html()
          });
        })
      })
    </script>
  </body>
</html>
